<header>
    <app-navbar id="nav"></app-navbar>
</header>

<body>
    <div class="welcome_banner">
        <div class="splash_img"></div>
        <div class="welcome_text">
            <h1 class="welcome_title">References</h1>
        </div>

    </div>

    <div class="section_header">
        <h3>Navbar</h3>
        <ul>
            <li>https://www.c-sharpcorner.com/article/lets-develop-an-angular-application-5-create-navigation-bar-component-for/ 
            </li>
            <li>https://www.w3schools.com/bootstrap/bootstrap_navbar.asp</li>
            <li>
                https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
            </li>
            <li>
                https://www.geeksforgeeks.org/how-to-place-content-under-fixed-flexbox-navigation-bar/
            </li>
            <li>
                https://stackoverflow.com/questions/40346890/how-to-i-align-vertical-buttons-next-to-image
            </li>
        </ul>
    </div>

    <div class="section_header">
        <h3>Ingredient Card Components</h3>
        <ul>
            <li>
                https://material.angular.io/components/categories
            </li>
            <li>
                https://getbootstrap.com/docs/5.0/components/card/
            </li>

        </ul>
    </div>

    <div class="section_header">
        <h3>Modals</h3>
        <ul>
            <li>
                https://jasonwatmore.com/post/2020/09/24/angular-10-custom-modal-window-dialog-box 
                <ul>
                    <li>
                        <h4>Huge thanks to this source for providing free modal code!</h4>

                    </li>
                </ul>
            </li>
            <li>
                https://stackoverflow.com/questions/39627549/how-to-center-modal-to-the-center-of-screen/39636961
            </li>
        </ul>
    </div>

    <div class="section_header">
        <h3>Gestures</h3>
        <ul>
            <li>
                https://stackoverflow.com/questions/14832603/check-if-all-values-of-array-are-equal
            </li>
        </ul>
    </div>


    <div class="section_header">
        <h3>Scrolling</h3>
        <ul>
            <li>
                https://stackoverflow.com/questions/5007530/how-do-i-scroll-to-an-element-using-javascript
            </li>
        </ul>
    </div>

    <div class="section_header">
        <h3>Focus Input</h3>
        <ul>
            <li>
                https://stackoverflow.com/questions/50006888/set-focus-on-input-element?answertab=active#tab-top
            </li>
        </ul>
    </div>


    <div class="section_header">
        <h3>Cards</h3>
        <ul>
            <li>
                https://getbootstrap.com/docs/4.0/components/card/
            </li>
            <li>
                https://getbootstrap.com/docs/5.0/layout/gutters/
            </li>
            <li>
                https://stackoverflow.com/questions/7245018/how-to-evenly-distribute-elements-in-a-div-next-to-each-other/7247189
            </li>
            <li>
                https://getbootstrap.com/docs/5.0/helpers/stretched-link/
            </li>

        </ul>
    </div>

    <div class="section_header">
        <h3>Brownie Recipe</h3>
        <ul>
            <li>
                https://www.loveandlemons.com/brownies-recipe/ 
            </li>
        </ul>
    </div>

    <div class="section_header">
        <h3>Banners</h3>
        <ul>
            <li>
                https://www.w3schools.com/howto/howto_css_hero_image.asp
            </li>
        </ul>
    </div>

    <div class="section_header">
        <h3>Layout Inspiration</h3>
        <ul>
            <li>
                https://www.healthline.com/ 
            </li>
            <li>
                https://chloeting.com/recipes/
            </li>

        </ul>
    </div>
    

<footer>
    <app-footer></app-footer>
</footer>
</body>

